@import 'theme';

body {
  user-select: none;
  background: #000;
  font-family: $font-family;
  font-weight: 200;
  font-size: 14px;
  line-height: 24px;
}


#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow:hidden;
}
#control-panel {
  position: fixed;
  width: 348px;
  // height: calc(100vh - 150px);
  height: 100vh;
  // border-bottom: solid 1px #000;
  border-bottom: 1px solid #333333;
}
#timeline {
  position: fixed;
  left: 348px;
  right: 0;
  bottom: 0;
  border-left: solid 1px #000;
}
#hud {
  display: none !important;
  position: fixed;
  width: 348px;
  height: 149px;
  left: 0;
  bottom: 0;
}
#toolbar {
  position: fixed;
  top: calc(50vh - 74px);
  right: 0;
  transform: translateY(-50%);
}
.mapboxgl-ctrl-logo {
  margin-left: 350px !important;
  margin-bottom: 2px !important;
  opacity: 0.4;
}

#timestamps{
  .timestamps-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .timestamps-form-item{
      width: 48%;
      padding: 4px 0;
      cursor: pointer;
    }
    input{
      text-indent: 8px;
    }
  }
  .errMsg{
    opacity: 0;
  }

    .timestamps-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .timestamp-item-container{
      width: 48%;
      border: 1px solid;
      margin-bottom: 4px;
      cursor: pointer;
      .timestamp-item{
        padding:0 8px;
        display: flex;
        justify-content: space-between;
      }
      .timestamp-text{
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}




#videoResizer{
  width:100%;
  height: 2px;
  

}
input[type=range] {
  height: 26px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E4E4E5;
  border-radius: 8px;
  border: 0px solid #FFFFFF;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 2px solid #737374;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E4E4E5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #E4E4E5;
  border-radius: 8px;
  border: 0px solid #FFFFFF;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 2px solid #737374;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E4E4E5;
  border: 0px solid #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E4E4E5;
  border: 0px solid #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #FFFFFF;
  border: 2px solid #737374;
  height: 18px;
  width: 18px;
  border-radius: 50px;
  background: #333333;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E4E4E5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E4E4E5;
}


@import 'control-panel';
@import 'toolbar';
@import 'hud';
